.ThreadCard {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  line-height: 1.5;
  box-shadow: 2px 2px 6px black;
}

.threadCardSubredditHeader {
  height: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 0.8rem;
  background: linear-gradient(90deg, #ffffff, lightgray);
}

.threadCardSubredditHeader img {
  width: 1rem;
  height: 1rem;
}

.ThreadCard .authorName {
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.ThreadCard .threadPreview {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.threadContentPreview img {
  width: 100%;
  max-width: 960px;
}

.ThreadCard .vid-audio-message {
  font-style: italic;
  font-weight: normal;
  font-size: 0.8em;
}

.ThreadCard .threadPreview .thumbnail {
  width: 96px;
}

.ThreadCard .threadContentPreview {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 5px;
  padding: 5px;
}

.ThreadCard .readMore {
  width: fit-content;
}

.fullText {
  display: none;
}

.galleryPreview,
.linkPreview,
.selfPreview {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.previewText,
.fullText {
  font-weight: normal;
  grid-column: 1/6;
}

.thumbnail {
  border-radius: 3px;
}