/* Global */

.ThreadList .LazyLoad:first-of-type,
.Thread .ThreadCard,
.SkeletonThreadCard:first-of-type {
  margin-top: calc(var(--appbar-height) + 0.5rem) !important;
}

/* Skeleton */

.skeletonContent {
  background-color: slategray;
  padding: 3px;
  color: slategray;
  border-radius: 5px;
  margin: 3px;
}

/* Header */

.subredditIcon.subreddit {
  display: none;
}

/* BODY */

.previewImage {
  max-width: 100%;
  height: auto;
}

.ThreadCard .threadPreview .thumbnail {
  float: left;
  border-radius: var(--radius);
  margin-right: 0.5rem;
  background-color: #ffffff;
}

.react-player__preview {
  background-size: contain !important;
  background-repeat: no-repeat;
}

.postFlair {
  margin-right: 0.3rem;
  float: left;
  min-width: max-content;
  padding: 0px 0.5rem;
  border-radius: 1rem;
}

/* GALLERY */
.galleryThumbnailBox {
  display: flex;
  flex-direction: column;
  float: left;
  font-weight: normal;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 3px 3px 0 3px;
  margin-right: 0.5rem;
  border-radius: var(--border);
}

.galleryThumbnailBox:hover {
  background-color: aliceblue;
}

.galleryThumbnailBox .thumbnail {
  float: unset !important;
  margin: 0 !important;
}

.galleryText {
  margin-left: 1rem;
}
