.ThreadCard {
  --radius: 5px;
  --border: 5px;
  border: 2px solid black;
  border-radius: calc(var(--radius) + var(--border));
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  box-shadow: 2px 2px 6px black;
}

.threadCardHeader {
  height: fit-content;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  width: auto;
  justify-content: space-between;
  line-height: 0.8rem;
  background: linear-gradient(-90deg, #ffffff, lightgray);
  padding: 5px;
  border-radius: var(--radius);
  margin: var(--border);
}

.threadCardHeader img {
  width: 2rem;
  height: 2rem;
}

.ThreadCard .authorName {
  font-size: 0.8rem;
}

.ThreadCard .threadPreview {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.ThreadCard .timestamp {
  align-items: center;
  justify-content: end;
  display: flex;
}

.previewImage {
  max-width: 100%;
  max-height: 50vh;
}

video {
  max-width: 100%;
  max-height: 50vh;
}

.ThreadCard .vid-audio-message {
  font-style: italic;
  font-weight: normal;
  font-size: 0.8em;
}

.ThreadCard .threadPreview .thumbnail {
  width: 96px;
}

.ThreadCardHeaderText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-left: 5px;
}

.ThreadCard .threadContentPreview {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border-radius: var(--radius);
  margin: var(--border);
  padding: 5px;
}

.threadContentPreview .centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ThreadCard .readMore {
  width: fit-content;
}

.ThreadCard .threadFooter {
  border-radius: var(--radius);
  margin: var(--border);
}

.ThreadCard .threadTitle {
  margin: var(--border);
}

.fullText {
  display: none;
}

.galleryPreview,
.linkPreview,
.selfPreview {
  display: grid;
  grid-template-columns: auto 1fr;
}

.galleryText,
.linkText,
.selfTitle {
  margin-left: 1rem;
}

.previewText,
.fullText {
  font-weight: normal;
  grid-column: 1/3;
}

.thumbnail {
  border-radius: 3px;
}

.subredditIcon {
  border-radius: 50%;
  border: 2px solid black;
}
