.subredditInfo {
  margin: 50px 5px 10px 5px;
  text-align: justify;
  padding: 5px;
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.subredditInfo .subredditIcon {
  width: 128px;
  height: 128px;
  /* border: 3px solid black; */

  box-shadow: 2px 2px 5px black;
  grid-row: span 2;
}

.subredditTitle {
  align-self: flex-end;
}
.subredditSubtitle {
  align-self: flex-start;
  font-weight: bold;
}

.subredditIcon.placeholder {
  height: 64px;
  width: 64px;
  font-size: 30px;
}

@media only screen and (max-width: 700px) {
  .subredditInfo .subredditIcon {
    height: 64px;
    width: 64px;
  }
  .subredditSubtitle {
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
  .subredditInfo .subredditTitle {
    font-size: 1.5rem;
  }
}

.subredditDescription {
  grid-column: 1/3;
}

@media only screen and (max-width: 400px) {
  .subredditInfo .subredditIcon {
    height: 48px;
    width: 48px;
  }
  .subredditInfo .subredditTitle {
    font-size: 1.2rem;
  }
}
