/* CARD GLOBAL */

/* Skeleton */

.skeleton .thumbnailContainer {
  height: 80px;
  width: 96px;
  background-color: slategray;
}

.SearchCard .skeleton.threadType {
  width: 40px;
  color: rgba(255, 255, 255, 0);
}

.subredditAndAuthor.skeletonContent {
  padding: 0;
  margin: 0;
  height: 18.8px;
}

.skeleton .searchCardFooter {
  padding: 0;
}

/* CARD HEADER */

.searchCardHeader .subredditIcon {
  background: linear-gradient(45deg, rgba(0, 0, 255, 0.267), white);
}

/* CARD BODY */


.SearchCard .threadType {
  background: radial-gradient(ellipse at top left, slategray, lightgray);
  height: min-content;
  float: left;
  color: black;
  font-weight: normal;
  font-size: small;
  border-radius: 20px;
  padding: 1px 5px;
  margin: 5px 5px 0 5px;
}

.SearchCard .threadTitle {
  margin: var(--border);
}

.SearchCard .thumbnailContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding: 5px; */
}

.SearchCard .thumbnail {
  width: 96px;
  height: auto;
  /* border-radius: var(--radius); */
  /* border: 1px solid black; */
  background-color: #ffffff;
}

.SearchCard .searchCardFooter {
  border-radius: var(--radius);
  margin: var(--border);
  margin-bottom: 0.1rem;
  font-size: 0.8rem;
  display: flex;
  place-items: center;
  height: 1rem;
}

.searchCardFooter .upArrow {
  height: 0.8rem;
}

.SearchCard .viewComments {
  height: 100%;
  font-size: inherit;
}
