.Header {
  align-items: center;

  position: fixed;
  width: 100%;
  max-width: 1000px;
  z-index: 1;
}

.SortSelector {
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: whitesmoke;
  height: 32px;
  color: slate;
  border-width: 1px;
  border-style: outset;
  border-color: buttonborder;
}

.Header .homeButton {
  border-radius: 30%;
  display: flex;
  height: 2rem;
  width: 2rem;
  padding: 3px;
  margin-left: 0.5rem;
}
.burgerLine {
  width: 24px;
  height: 4px;
  background: radial-gradient(ellipse at top left, lightgray, black);
  border-radius: 4px;
}

.Header .burgerLines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 32px;
  border-radius: 30%;
}

.burgerLines :first-child {
  margin-top: 2px;
}

.burgerLines :last-child {
  margin-bottom: 2px;
}

nav ul {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  gap: 1rem;
  align-items: center;
  padding: 2px 0;
  max-width: 100%;
  overflow: hidden;
  margin: 0 2px;
  background-color: lightgray;
  box-shadow: 2px 2px 5px black;
  border-radius: 0 0 5px 5px;
}

nav ul li {
  display: flex;
}

nav ul li a {
  text-decoration: none;
}

#searchLink {
  margin-left: auto;
  margin-right: 10px;
  height: 32px;
  justify-content: center;
  align-items: center;
  min-width: 0;
}

#searchInput {
  font-size: 1rem;
  border-radius: 100px;
  display: block;
  cursor: pointer;
  border: none;
  max-width: 100%;
}

#searchInput:focus {
  width: 100%;
  text-indent: 0.5rem;
  height: fit-content;
  cursor: text;
}

#searchInput::placeholder {
  text-indent: 5px;
}

form {
  min-width: 0;
}
@media (hover: hover) {
  .homeButton:hover {
    background-color: darkgray;
  }
}
