.Header {
  border-bottom: 3px solid lightgray;
  align-items: center;
}

.SortSelector {
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: gainsboro;
  height: 32px;
}

.burgerLine {
  width: 35px;
  height: 5px;
  background-color: black;
  border-radius: 5px;
}

.burgerLines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 36px;
}

.burgerLines :first-child {
  margin-top: 3px;
}

.burgerLines :last-child {
  margin-bottom: 3px;
}

nav ul {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  gap: 1rem;
  align-items: center;
}

nav ul li {
  display: flex;
}

nav ul li a {
  text-decoration: none;
}

#searchLink {
  margin-left: auto;
  cursor: pointer;
  margin-right: 3px;
  height: 32px;
}

#searchInput {
  font-size: 1.3rem;
  border-radius: 100px;
  border: none;
  width: 1.8rem;
  /* transition: 200ms; */
}

#searchInput:focus {
  width: 100%;
  border: 1px solid black;
  text-indent: 0.5rem;
}

#searchInput:focus::placeholder {
  text-align: end;
}
