/* GLOBAL */

.CommentCard {
  background-color: lightgray;
  line-height: normal;
  /* margin: 2px auto */
}

.subcomment {

  margin:2px 0 2px 0.5rem;
  width: auto;
  border-left: black 1px solid;
}

.CommentCard a {
  text-decoration: underline;
  color: blue;
}

/* HEADER */
.commentHeader {
  display: grid;
  grid-template-columns: auto max-content 1fr 4rem;
  gap: 1rem;
}
.CommentCard .author {
  font-weight: bold;
}


/* BODY */
.commentBodyText {
  padding: 0.3rem;
  padding-top: 0;
}
