nav ul {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  justify-content: start;
}

nav ul li a {
  text-decoration: none;
}

#searchLink {
  margin-left: auto;
}

h1 {
  font-size: 2rem;
}
