* {
  font-family: "Noto Sans", sans-serif;
  --appbar-height: 64px;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: slategray;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  --radius: 5px;
  --border: 5px;
}
.App {
  width: clamp(300px, 100%, 100vw);
  margin: auto;
}

h1 {
  font-size: 2rem;
}

.ErrorPage {
  font-family: "Noto Sans", sans-serif;
  align-items: center;
  height: 100%;
  margin-top: calc(var(--appbar-height) + 0.5rem) !important;
  /* padding: 4rem 0; */
  max-width: 30rem !important;
}
.ErrorPage a {
  margin-bottom: 1rem;
}

.errorText {
  text-align: center;
}

.upArrow {
  height: 1rem;
  width: 1rem;
}

.icon {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: initial;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }

  select:hover,
  .button:hover {
    cursor: pointer;
    background-color: darkgray;
    text-decoration: none;
  }
}
