* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 1000px;
}

nav ul {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  justify-content: start;
  gap: 1rem;
}

nav ul li a {
  text-decoration: none;
}

#searchLink {
  margin-left: auto;
}

h1 {
  font-size: 2rem;
}

.SortSelector {
  font-size: 2rem;
}

header {
  margin: 5px;
}

.subredditName {
  font-weight: bold;
}
